@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Oswald|Poppins:300,700');

body {
	min-width: 1000px;
	margin:0px;
	font-family: 'Poppins', sans-serif;
	text-transform: lowercase;
}

/*General*/
*{
    margin: 0px
}
a{
	color: grey;
	text-decoration: none;
}
p{
	text-transform: none;
}

/*Parallax source: http://keithclark.co.uk/articles/pure-css-parallax-websites/*/
.parallax {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	/*background-image: url(http://cultofthepartyparrot.com/parrots/parrot.gif);*/
	background-image: url(../resources/isometric_background.png);

}
.parallax__layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
	transform: translateZ(-1px) scale(1);
	z-index: -1;
}
.parallax__layer--deep {
	transform: translateZ(-2px) scale(1);
	z-index: -2;
	width: 100%;
}
.cube{
	position: absolute;
}


/*Nav bar*/
#nav {
	z-index: 3;
	display: flex;
	background-color: rgba(255,255,255,.90);
	position: fixed;
	width: 100%;
	height: 65px;
	min-width: 800px;
}

#name{
	background: url(https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-11.jpg) -20px -20px repeat;
	background-size: 90%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	padding: 6px;
	padding-left: 30px;
}
#nav-items{
	margin-left:auto;
	margin-right:30px;
}
#nav-items ul{
	display: flex;
}
#nav-items li{
	padding: 20px;
	list-style: none;
}
#contact {
	outline: auto;
	padding: 5px
}
#contact:hover {
	background-color: rgba(230,230,230,1);
}

/*banner*/
.banner{
	align-items: center;
	position: relative;
	text-align: center;
}
.splash{
	color: rgba(30,30,30,1);
	background: url(https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-11.jpg) -20px -20px repeat;
	background-size: 50%;
	/*background: url(https://i.redd.it/wsvs21vko2ey.gif) -20px -20px repeat;*/
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 60px;
	margin: auto;
	padding: 30px;
}
#arrow{
	position: relative;
	width: 60px;
}
/*Sections*/
#home{
	margin-top: 15%;
	height: 400px;
}
#contact_info{
	margin-bottom: 200px;
	margin-top: 100px;
}

/*Content*/
#about_me{
	margin-right: 300px;
	margin-left: 300px;
	background-color: rgba(230,230,230,.7);
}
.content{
	padding: 20px;
	background-repeat: no-repeat;
	background-size: 600px 600px;
	width: 25%;
	height: 580px;
	color: rgba(250,250,250,.9);
}
#inline-base{
	display: flex;
}
.description{
	padding-right: 24%;
	padding-top: 10%;
}
.icon{
	position: relative;
	left: 30px;
	top: -15px;
	border-radius: 50%;
	height: 200px;
}
.icon_cube{
	position: absolute;
	margin: -20px;
	z-index: -1;
	height: 600px;
	width: 600px;
}
