@charset "UTF-8";
/* CSS Document */
.dash-features .inner-dash-features .feature-box {
	display: inline-flex;
	display: -webkit-flex;
}

.dash-features .inner-dash-features .feature-box .feature-col {
	flex: 1;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	margin: 0px 45px 0px 45px;
	height: 640px; 
}
.dash-features .inner-dash-features .feature-box .feature-col .feature-item {
	flex: 1; 
}

.playpad-features {
  display: flex;
  display: -webkit-flex;
}
