@charset "UTF-8";
/* CSS Document */
.dash-features .inner-dash-features .feature-box .feature-col .feature-item {
/*	margin: auto;*/
	margin: 30px 20px 0px 20px
}

.dash-features .inner-dash-features h2 {
	margin: 20px 0px -20px 0px;
}

.playpad-features {
	margin: 0px 0px -100px 0px;
}

.playpad-features #text {
	margin: 0px 30px 0px 30px
}

.playpad-features #demo img {
	width: 200px;
	display: block;
	margin: auto;
}

.playpad-features .inner-playpad-features h2 {
	margin: 0px;
}

#form_submit {
	display: block;
	margin: auto;
	margin-top: 20px;
}