@charset "UTF-8";
/* CSS Document */
.purpose #game-demo {
	margin: 10px 20px 40px 20px;
	height: 440px;
}
.purpose .text #steps .step {
	display: inline-flex;
	display: -webkit-flex;
	margin: 0px 0px 0px -20px;
	flex: 1;
}
.purpose .text #steps .step img {
	margin: 20px 10px 0px 20px;
	align-items: center;
	justify-content: center;
}
.purpose .text #partners {
	margin: 30px 0px 0px 0px;
}

.business {
  padding: 30px 30px 40px 50px;
}

.business #laptop {
	width: 300px;
	height: 170px;
	display: block;
	margin: 50px auto 30px auto;
}
.business .inner-business #features #learn-more {
	display: block;
	margin: auto;
}
.business .inner-business #features ul {
	margin: 0px 0px 40px -60px;
}

footer #footer_logos {
	display: inline-flex;
	display: -webkit-flex;
}
footer #footer_info {
	display: inline-flex;
	display: -webkit-flex;
}
footer #copyright {
	margin: 10px 0px 0px 20px;
	font-size: 11px;
	flex: 4;
}
footer #copyright img {
	width: 100px;
}
footer #love {
	margin: 5px 0px 0px 0px;
	flex: 4;
	font-size: 12px;
}
footer #love img {
	width: 20px
}
footer #company {
	margin: 0px 0px 0px 20px;
	flex: 4;
	font-size: 12px;
}
footer #contact {
	margin: 0px 20px 0px 10px;
	flex: 4;
	font-size: 12px;
}
footer #contact a {
	color: #52a8ff;
}
footer #contact a:hover {
	color: #7ABCFF;
}
footer #contact img {
	width: 100px;
	height: 33px;
	margin: 5px 20px 5px 0px;
}
footer #contact img:hover {
	opacity: .8;
}
footer #techstars {
	flex: 3;
}
footer #techstars img {
	width: 100px;
	margin: -5px 0px 0px 0px;
}
