nav {
    margin: 0;
    padding: 0;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    padding: 0 20px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

.toggle + a, .menu {
    display: none;
}

.toggle {
    display: block;
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 20px;
}

[id^=drop]:checked + ul {
    display: block;
}


.menu li {
    padding: 10px;
    display: block;
    width: 80%;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.check_box {
    display:none;
}

#menu-icon {
    height: 16px;
}