@charset "UTF-8";
/* CSS Document */

.section-banner {
    width: 100%;
}

.intro {
    color: black;
    padding: 20px;
    background: transparent;
}

.inner-intro{
    background: transparent;
    margin: 0px;
}

.intro .inner-intro #statement {
    margin: 5px;
    text-align: center;
}
.intro .inner-intro #statement h1{
    margin: 10px;
    font-size: 30px;
}
.intro .inner-intro #statement p {
    margin: 10px;
    font-size: 15px;
}

#partners {
    text-align: center;
}

#partners h2 {
    margin: 10px 10px 0px 10px;
}

#partners img{
    height: 45px;
    margin: 20px;
}

.dash {
    background: transparent;
    padding: 0px
}

.dash .inner-dash #text {
    margin: 0px;
    text-align: center;
}

.dash .inner-dash #text h2 {
    margin: 20px;
    font-size: 30px;
}
.dash .inner-dash #text p {
    margin: 20px;
    font-size: 15px;
}

.dash-features .inner-dash-features .feature-box .feature-col .feature-item {
    /*	margin: auto;*/
    margin: 40px 20px 0px 20px
}

.dash-features .inner-dash-features h2 {
    margin: 20px 0px -20px 0px;
    font-size: 25px;
}

.playpad {
    background: transparent;
    padding: 0px
}

.playpad .inner-playpad #text {
    margin: 0px;
    text-align: center;
}

.playpad .inner-playpad #text h2{
    margin: 20px;
    font-size: 30px;
}
.playpad .inner-playpad #text p{
    margin: 20px;
    font-size: 15px;
}

.playpad-features {
    padding: 0px;
    margin: 0px;
}

.playpad-features-title{
    margin: 0px;
    font-size: 25px;
}

.playpad-features #text {
    margin: 0px 30px 0px 30px
}

.playpad-features #demo img {
    width: 200px;
    display: block;
    margin: auto;
}

.feature {
    text-align: center;
    margin: 0px;
}

.playpad-features .inner-playpad-features{
    margin: 0px;
}

.playpad-features .inner-playpad-features h2 {
    margin: 0px;
}
