.intro {
  display: flex;
  display: -webkit-flex;
  padding: 20px 0px 200px 0px;
  background: url(../assets/images/business/introtest.png);
  background-size: cover;
  color: white;
  line-height: 1.1;

  .left-flex {
    flex: 1;
  }

  .inner-intro {
    flex: 8;
    #logo {
      width: 120px;
      height: 35px;
      margin: 0px 10px 10px 0px;
    }

    #statement {
      margin: 250px 10px 10px 0px;
      max-width: 360px;

      h1 {
        margin: 6px 4px 20px 0px;
        font-family: Lato-Regular;
        font-size: 36px;
        letter-spacing: 1.2px;
      }

      p {
      	font-family: Lato-Light;
        margin: 6px 4px 6px 0px;
        font-size: 20px;
        letter-spacing: .6px;
      }
    }
  }
}

.dash {
  display: flex;
  display: -webkit-flex;
  padding: 20px 0px 240px 0px;
  background: url(../assets/images/business/dashboardtest.png);
  background-size: cover;
  color: black;
  line-height: 1.1;

  .left-flex {
    flex: 1;
  }

  .inner-dash {
    flex: 8;

    #text {
      margin: 100px 10px 10px 0px;
      max-width: 380px;
      font-family: Lato-Regular;

      h2 {
        margin: 6px 4px 20px 0px;
        font-size: 28px;
        letter-spacing: 1px;
      }

      p {
        margin: 6px 4px 6px 0px;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 1.5;
      }
    }
  }
}

.dash-features {
  display: flex;
  display: -webkit-flex;
  text-align: center;
  padding: 20px 20px 10px 20px;
  line-height: 1;

  img { 
    height: 70px;
    width: auto;
  }

  .flex-space {
  	flex: 1;
  }

  .inner-dash-features {
	  display: flex;        
	  display: -webkit-flex;
	  flex-direction: column;
	  flex: 10;

	  h2 {
	  	font-size: 28px;
	  }

	  .feature-box {
	  	margin: 30px 0px 20px 0px;
	  	display: inline-flex;
	  	display: -webkit-flex;
	  	flex-direction: row;

	  	.feature-col {
	  	  flex: 1;
	  	  display: flex;        
  		  display: -webkit-flex;
  		  flex-direction: column;
	  	  margin: 0px 45px 0px 45px;
	  	  height: 640px;

	  	  .feature-item {
	  	  	flex: 1;
	  	  	h3 {
	  	  		font-family: Lato-Bold;
	  	  	}

	  	  	p {
	  	  		font-size: 13.5px;
	  	  		line-height: 1.75;
	  	  		letter-spacing: .5px;
	  	  	}
	  	  }
	  	}
	  }
	}
}

.playpad {
  display: flex;
  display: -webkit-flex;
  padding: 20px 0px 240px 0px;
  // TODO: ADD IN PLAYPAD BACKGROUND PLEAASE
  background: url(../assets/images/business/playpad.png);
  background-color: beige;
  background-size: cover;
  color: black;
  line-height: 1.1;

  .left-flex {
    flex: 1;
  }

  .inner-playpad {
    flex: 8;

    #text {
      margin: 100px 10px 10px 0px;
      max-width: 480px;
      font-family: Lato-Regular;

      h2 {
        margin: 6px 4px 20px 0px;
        font-size: 28px;
        letter-spacing: 1px;
      }

      p {
        margin: 6px 4px 6px 0px;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 1.5;
      }
    }
  }
}

.playpad-features-title {
  text-align: center;
  font-size: 32px;
  margin: 60px 0px 0px 0px;
}

.playpad-features {
  display: flex;
  display: -webkit-flex;
  padding: 30px 0px 140px 0px;
  line-height: 1.2;

  .flex-space {
  	flex: 1;
  }

  .inner-playpad-features {
  	display: inline-flex;
  	display: -webkit-flex;
  	text-align: left;
  	flex: 8;

  	#text {
  	  flex: 6;
  	  display: flex;
  	  display: -webkit-flex;
  	  flex-direction: column;

  	  .feature {
  	  	margin: 20px 0px 20px 0px;

  	  	h2 { 
  	  		font-size: 22px;
  	  	}

  	  	p {
  	  		font-family: Lato-Light;
  	  		line-height: 1.5;
  	  		font-size: 15px;
  	  		letter-spacing: .4px;
  	  	}
  	  }

  	}

  	#demo {
  	  flex: 6;
  	  margin: 0px 0px 0px 0px;

  	  img {
  	  	float: right;
  	  	height: 540px;
  	  	width: auto;
  	  }
  	}
  }


}

.contact {

}