<!DOCTYPE html>
<html>
<head>
    <title>PlayFull For Restaurants</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-Frame-Options" content="allow">
    <meta name="description" content="PlayFull">
    <meta name="author" content="PlayFull">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/desktop.css">
    <link rel="stylesheet" href="../public/css/restaurants.css">
    <link rel="stylesheet" href="../public/css/restaurants_desktop.css">
    <link rel="icon" href="../public/assets/images/favicon.png">

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../public/js/main.js"></script>
    <script type="text/javascript">
        if (screen.width < 699) {
            console.log('mobile')
            document.location = "mobile_restaurants.html";
        }
    </script>
</head>
<body id="top">
<div class="intro">
    <div class="left-flex"></div>
    <div class="inner-intro">
        <div class="navbar">
            <a href="/"><img id="logo" src="../public/assets/images/playfull-logo-white.svg"></a>
            <a class="nav" href="#">Restaurants</a>
        </div>

        <div id="statement">
            <h1> The power of Play at your fingertips</h1>
            <p> Control your engagement with the PlayFull Dashboard and PlayPad </p>
        </div>
    </div>
</div>

<div class="dash">
    <div class="left-flex"></div>
    <div class="inner-dash">
        <div id="text">
            <h2>PlayFull Dashboard</h2>
            <p>The Dashboard consolidates data from the PlayPad and PlayFull App and provides custom branded tools for
                you to directly improve your metrics. </p>
        </div>
    </div>
</div>

<div class="dash-features">
    <div class="flex-space"></div>

    <div class="inner-dash-features">
        <h2> Dashboard Features </h2>
        <div class="feature-box">
            <div class="feature-col">
                <div class="feature-item">
                    <img src="../public/assets/images/business/priceplans.png">
                    <h3> Custom Price Plans </h3>
                    <p> PlayFull works with each company individually to custom fit the plan that will help grow your
                        brand and product exponentially. </p>
                </div>
                <div class="feature-item">
                    <img src="../public/assets/images/business/games.png">
                    <h3> Custom Branded Games and Rewards </h3>
                    <p> Create custom branded games and rewards to engage customers inside and outside your restaurant.
                        Games are crafted to suit your customer demographic and rewards are based off your food cost and
                        sales goals. </p>
                </div>
            </div>

            <div class="feature-col">
                <div class="feature-item">
                    <img src="../public/assets/images/business/customer.png">
                    <h3> Customers </h3>
                    <p> You can view a breakdown of how many times specific customers visit your store in a given month
                        through the dashboard. This gives you the ability to reward your most loyal customers. </p>
                </div>
                <div class="feature-item">
                    <img src="../public/assets/images/business/location.png">
                    <h3> Multi-location Control </h3>
                    <p> Control 1 to 2000+ locations with the click of a button. Conveniently manage your analytics,
                        games, and rewards from your computer or phone. </p>
                </div>
            </div>

            <div class="feature-col">
                <div class="feature-item">
                    <img src="../public/assets/images/business/fundraiser.png">
                    <h3> Crowd Fundraisers </h3>
                    <p> Send fundraiser notifactions to all immediate users near the fundraiser's physical address. </p>
                </div>
                <div class="feature-item">
                    <img src="../public/assets/images/business/rewards.png">
                    <h3> Geolocation Rewards </h3>
                    <p> Have complete control over your coupon values that you release to the market in different
                        locations. In addition, you can also follow up on redepmtion numbers and percentages. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-space"></div>
</div>

<div class="playpad">
    <div class="left-flex"></div>
    <div class="inner-playpad">
        <div id="text">
            <h2> The PlayPad </h2>
            <p> The PlayPad is a customer-facing tablet next to your POS that protects, gives you the ability to
                quantity your marketing tactics and coupons and ensures secured transactions. </p>
        </div>
    </div>
</div>

<div class="playpad-features-title">
    PlayPad Features
</div>

<div class="playpad-features">

    <div class="inner-playpad-features">
        <div class="flex-space"></div>
            <div class="feature">
                <img class="feature-token" src="../public/assets/images/business/qr-code.svg">
                <h2> Quantify your reward ROI</h2>
                <p> The PlayPad tracks who is redeeming your rewards and uploading dashboard in real time. Its QR
                    technology prevents reward abuse so that rewards are only given to customers who have earned
                    them.</p>
            </div>

            <div class="feature">
                <img class="feature-token" src="../public/assets/images/business/stopwatch.svg">
                <h2> Built for Speed</h2>
                <p> Transaction with the PlayPad are designed to last 3-5 seconds. Reward loyal customers and improve
                    your bottom line faster than it takes to print a receipt.</p>
            </div>

            <div class="feature">
                <img class="feature-token" src="../public/assets/images/business/clock.png">
                <h2> Quick Set-up</h2>
                <p> Start accepting customers with PlayFull in 5 minutes. The PlayPad sits next to your POS, only needs
                    access to power and internet, and does not integrate with your POS system at all. </p>
            </div>
        <div class="flex-space"></div>
    </div>
</div>

<div id="partner">
    <h2> Become a Restaurant Partner</h2>
    <form id="become_partner">
        <div class="row">
            <div>
                <p>First Name:*</p>
                <input type="text" name="first_name" required>
            </div>
            <div id="form_spacing"></div>
            <div>
                <p> Last name:*</p>
                <input type="text" name="last_name" required>
            </div>
        </div>
        <div class="row">
            <div>
                <p>Email:*</p>
                <input name="email" type="text" required>
            </div>
            <div id="form_spacing"></div>
            <div>
                <p>Phone:</p>
                <input name="phone" type="text">
            </div>
        </div>
        <p>Restaurant Name:</p>
        <input name="restaurant_name" type="text"><br>
        <p>Restaurant Address:</p>
        <input name="restaurant_address" type="text"><br>
        <p>How did you hear about us?</p>
        <input name="playfull_discovery" type="text"><br>
        <p>Questions?</p>
        <textarea id="form_questions" name="questions" rows="5"></textarea>
        <p id="form_required">* Field must be completed for submission</p>
        <div id="form_success">
            <p>Message successfully sent! We'll be in touch soon!</p>
        </div>
        <button id="form_submit">submit</button>
    </form>
</div>

<footer>
    <div class="left-flex"></div>
    <div id="copyright">
        <a href="/"><img src="../public/assets/images/playfull-logo-white.svg"></a>
        <div> &#64; 2017 PlayFull Inc.</div>
    </div>

    <div id="techstars">
        <a href="http://www.techstars.com">
            <img src="../public/assets/images/techstars_logo.png"/>
        </a>
    </div>

    <div id="love">
        Made with <img src="../public/assets/images/mouse.svg"> in Los Angeles.
    </div>

    <div id="company">
        Company <br>
        <a href="http://beplayfull.com/privacy-policy.html">Privacy Policy</a><br>
        <a href="http://beplayfull.com/terms-and-conditions.html">Terms and Conditions</a>
    </div>

    <div id="contact">
        Contact <br>
        <a href="mailto:support@beplayfull.com">support@beplayfull.com</a>
        <a class="mobile-analytics" href="https://mixpanel.com/f/partner">
            <img src="../public/assets/images/mixpanel.png" alt="Mobile Analytics">
        </a>
    </div>
</footer>

</body>
</html>
